body {
    font-family: 'Mina', sans-serif;
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-item,
.item {
    width: 430px;
    margin: 10px;
    padding: 10px 10px 1px;
    background: #000000;
}

.item-video iframe {
    display: block;
    margin: 0 auto;
    width: 430px;
    height: 240px;
    border: none;
}

.item-article h3 {
    display: table-cell;
    margin: 0 auto;
    width: 430px;
    height: 240px;
    text-align: center;
    vertical-align: middle;
    font-size: 140%;
    font-weight: normal;
}

.item-article h3 a {
    color: #ffffff;
}

.item .views {
    margin: 6px 0 0 0;
    text-align: right;
    font-size: 80%;
    color: #cccccc;
}

.wrap-item {
    position: relative;
    height: 260px;
}

.wrap-item .label {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
}

.wrap-item .item {
    width: 400px;
    margin: 0 auto;
}

.wrap-item .item iframe,
.wrap-item .item h3 {
    width: 400px;
    height: 210px;
}

.wrap-item-new {
    background-color: rgba(41, 198, 31, 0.47);
}

.wrap-item-new .label {
    background-color: rgba(15, 145, 37, 0.72);
    border-color: rgba(15, 145, 37, 1);
}

.wrap-item-popular {
    background-color: rgba(231, 0, 25, 0.64);
}

.wrap-item-popular .label {
    background-color: rgba(176, 0, 24, 0.73);
    border-color: rgba(176, 0, 24, 0, 1);
}
