body {
    font-family: 'Mina', sans-serif;
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    width: 460px;
    margin: 10px;
    padding: 10px 10px 1px;
    background: #000000;
}

.video iframe {
    display: block;
    margin: 0 auto;
    width: 460px;
    height: 240px;
    border: none;
}

.video .date {
    margin: 6px 0 0 0;
    text-align: right;
    font-size: 80%;
    color: #cccccc;
}