html {
  background-color: #FAF7F2;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-float-right {
  float: right;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.container {
  margin: 50px auto;
  width: 560px;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  margin-bottom: 65px;
  width: 100%;
}

.card-media {
  float: left;
  padding: 0 0 25px 25px;
  position: relative;
  width: 145px;
}

.card-media-img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  float: left;
  margin-top: -25px;
  position: relative;
}

.card-media-preview {
  background-color: #00AEA2;
  border-radius: 50%;
  bottom: 11px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  height: 30px;
  opacity: 0;
  position: absolute;
  left: 70px;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
  z-index: 3;
}

.card-media-preview:hover {
  background-color: #009d92;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.card:hover .card-media-preview {
  opacity: 1;
  transform: translateY(0);
}

.card-media-tag {
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .22);
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .4px;
  padding: 5px 8px;
  position: absolute;
  left: 110px;
  text-transform: uppercase;
  top: -10px;
}

.card-media-tag-orange {
  background-color: #FF982C;
  color: #FFE111;
}

.card-media-tag-brown {
  background-color: #855345;
  color: #E8CA69;
}

.card-body {
  float: left;
  padding: 25px 25px 25px 20px;
  width: 415px;
}

.card-body-heading {
  color: #6f6f6f;
  display: inline-block;
  font-size: 26px;
}

.card-body-options {
  float: right;
}

.card-body-option {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.card-body-stars {
  list-style-type: none;
  margin: 12px 0;
  padding: 0;
}

.card-body-stars > li {
  cursor: pointer;
  display: inline-block;
  float: left;
}

.card-button {
  color: #9C948A;
  display: inline-block;
  font-weight: 500;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms ease-out;
}

.card-button svg {
  fill: #9C948A;
  transition: all 200ms ease-out;
}

.card-button-cta {
  background-color: #9C948A;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  color: #fff;
}

.card-button-cta:hover {
  box-shadow: 1px 5px 8px rgba(0, 0, 0, .18);
  background-color: #F44336;
}

.card-button-link:hover {
  color: #444;
}

.card-button-link:hover svg {
  fill: #444;
}

.card-button-icon {
  display:inline-block;
  vertical-align:middle;
}

.floating-action-button {
  background-color: #FF4133;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  height: 56px;
  position: absolute;
  right: 25px;
  transition: all 200ms ease-out;
  width: 56px;
}

.floating-action-button:hover {
  background-color: #ff2111;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}
