body {
    font-family: 'Mina', sans-serif;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#app > div {
    width: 250px;
    margin: 10px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgba(69, 115, 152, 0.99);
    padding: 5px;
}